# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Application Specific
uploads/*
!uploads/.gitkeep
outputs/*
!outputs/.gitkeep
weights/*
!weights/.gitkeep
gfpgan/weights/*
*.pth
*.pth.*
screenshot_*.png
.playwright-cli/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.vercel
